html,
body {
  height: 100%;
  max-height: 100%;
}

.draft-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#draft-header {
  flex-grow: 0;
  padding: 0.3em;
  background-color: #eaecf0;
}
#draft-header h3 {
  margin: 0;
}

#draft-control {
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 85%;
}

.draft-footer {
  background-color: pink;
  font-size: 0.8em;
}

#draft-order {
  width: 25%;
  overflow: auto;
}

#welcomeModal .progress {
  height: 5vh;
}

#fetchProgress .progress-bar {
  background-color: #0ba8e6;
}

#buildProgress .progress-bar {
  background-color: #f091ad;
}

#draft-actions {
  background-color: black;
  color: white;
  width: 15%;
  text-align: center;
  padding-top: 0.8em;
}
#draft-actions #currentRound {
  font-size: 1.5em;
}
#draft-actions #currentTeam {
  font-size: 1.1em;
}
#draft-actions #btnActions {
  align-items: center;
  justify-content: center;
  gap: 1em;
}
#draft-actions button {
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#draft-pool {
  width: 60%;
  background-color: lightgray;
  --chars-per-row: 8;
}

.round-header {
  font-weight: bold;
  background-color: lightskyblue;
  text-align: center;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  z-index: 2;
}

.pick-order {
  background-color: lightgrey;
  box-sizing: border-box;
  padding-left: 0.3em;
  padding-right: 0.3em;
  justify-content: center;
}
.pick-order .pick-label {
  font-size: 0.8em;
}
.pick-order .pick-id {
  font-weight: bold;
}

.pick-view {
  box-sizing: border-box;
}
.pick-view .team {
  flex-grow: 1;
  padding-left: 0.5em;
  align-items: center;
}
.pick-view.current .team {
  background-color: black;
  color: white;
  font-weight: bold;
}
.pick-view .char-select {
  position: relative;
  box-sizing: border-box;
  width: 32%;
  padding: 0.3em;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.pick-view .char-select .img-wrapper {
  position: relative;
}
.pick-view .char-select img {
  visibility: hidden;
  height: auto;
  width: 100%;
}
.pick-view .char-select .selection-info {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  font-size: 0.8vw;
}
.pick-view[data-char-select] img {
  visibility: visible;
}
.pick-view[data-char-select].traded img {
  opacity: 0.3;
}
.pick-view[data-char-select].traded .selection-info {
  visibility: visible;
  font-weight: bold;
}

#draft-search-filter {
  padding: 0.2em;
  background-color: lightskyblue;
  align-items: center;
}
#draft-search-filter .left-controls {
  column-gap: 0.5em;
}
#draft-search-filter .right-controls {
  column-gap: 0.5em;
}

#draft-selections {
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  gap: 0.2em;
  padding: 0.2em;
}
#draft-selections .character-select {
  position: relative;
  background-color: lightskyblue;
  border-width: 0.2em;
  border-style: solid;
  border-color: transparent;
  width: 12%;
}
#draft-selections .character-select.char-lock {
  background-color: grey;
}
#draft-selections .character-select.char-lock img {
  opacity: 0.3;
}
#draft-selections .character-select img {
  width: 100%;
}
#draft-selections .character-select .selection-info {
  font-weight: bold;
  font-size: 0.8vw;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  user-select: none;
}
#draft-selections .character-select[data-team-current] img {
  opacity: 0.3;
}
#draft-selections .character-select[data-team-current] .selection-info {
  visibility: visible;
}
#draft-selections .character-select[data-placeholder] {
  visibility: hidden;
}
#draft-selections.team-view .character-select .selection-info {
  visibility: hidden;
}
#draft-selections.team-view .character-select img {
  opacity: 1;
}

.confirm-info {
  font-weight: bold;
}

.filtered {
  display: none;
}

#filter-modal .row:not(:last-of-type) {
  padding-bottom: 0.4em;
}

#seriesControl {
  gap: 0.2em;
}

.trade-options {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 45vh;
  background-color: lightskyblue;
}

.trade-offers {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 45vh;
  background-color: pink;
}

#tradeModal .col-1 {
  width: 7.6923076923%;
}
#tradeModal .col-2 {
  width: 15.3846153846%;
}
#tradeModal .col-3 {
  width: 23.0769230769%;
}
#tradeModal .col-4 {
  width: 30.7692307692%;
}
#tradeModal .col-5 {
  width: 38.4615384615%;
}
#tradeModal .col-6 {
  width: 46.1538461538%;
}
#tradeModal .col-7 {
  width: 53.8461538462%;
}
#tradeModal .col-8 {
  width: 61.5384615385%;
}
#tradeModal .col-9 {
  width: 69.2307692308%;
}
#tradeModal .col-10 {
  width: 76.9230769231%;
}
#tradeModal .col-11 {
  width: 84.6153846154%;
}
#tradeModal .col-12 {
  width: 92.3076923077%;
}
#tradeModal .col-13 {
  width: 100%;
}
#tradeModal .row:not(:last-of-type) {
  padding-bottom: 0.3em;
}

.trade-asset[data-trade-offer] {
  background-color: pink;
  font-weight: bold;
}

#team-list-wrapper {
  background-color: lightgrey;
  height: 16vh;
  padding: 0.3em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#team-list-wrapper #team-list {
  gap: 0.3em;
}
#team-list-wrapper #team-list .team-name-option {
  background-color: lightskyblue;
  font-size: 1.1em;
  border-radius: 25px;
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
#team-list-wrapper #team-list .team-name-option .delete-name {
  padding-left: 0.3em;
  color: white;
  cursor: pointer;
}
#team-list-wrapper #team-list .team-name-option .delete-name:hover {
  color: grey;
}

#teamOrderSetup {
  background-color: lightgrey;
}
#teamOrderSetup.ui-sortable-disabled .team-name-order {
  opacity: 0.65;
}

@media (hover: none), (any-hover: none) {
  .btn-check:not(:checked) + .btn-outline-primary,
.btn-check:not(:checked) + .btn-outline-primary:active,
.btn-check:not(:checked) + .btn-outline-primary:focus {
    background-color: inherit !important;
    color: var(--bs-primary) !important;
    box-shadow: inherit !important;
  }
}
.btn-check:not(:checked) + .btn-outline-primary,
.btn-check:not(:checked) + .btn-outline-primary:active,
.btn-check:not(:checked) + .btn-outline-primary:focus {
  box-shadow: inherit !important;
  /* Properly reset btn-check box shadow on desktop. */
}

@media only screen and (max-width: 1920px) {
  #draft-selections .character-select {
    width: 12%;
  }

  #draft-pool {
    --chars-per-row: 8;
  }
}
@media only screen and (max-width: 1100px) {
  #draft-selections .character-select {
    width: 15%;
  }

  #draft-pool {
    --chars-per-row: 6;
  }

  #draft-search-filter {
    font-size: 0.9em;
  }
}